# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
.vs/
out/
/build/
.idea/
cmake-build-debug/

# Coverage files
*.gcda
*.gcno

build/
build_gcov/

task_02/.vscode/



# =========================
# Additional build directories
# =========================
build_test/
bin/
lib/
*.a
*.obj
*.exe

# =========================
# CMake temporary files
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

# =========================
# GoogleTest build
# =========================
googletest_build/
_deps/
third_party/googletest-*/

# =========================
# Doxygen output
# =========================
html/
latex/
doxygen.log
