name: Deploy Jekyll with GitHub Pages dependencies

on:

  push:
<<<<<<< HEAD
    branches: ["task_03"]
=======
    branches: ["task03"]
>>>>>>> origin/task_04

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
<<<<<<< HEAD
          source: ./trunk/ii02810/task_03/doc/pages
=======
          source: ./trunk/ii02810/task_03/doc/pages/index.md
>>>>>>> origin/task_04
          destination: ./_site
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
<<<<<<< HEAD
        uses: actions/deploy-pages@v4
=======
        uses: actions/deploy-pages@v4
>>>>>>> origin/task_04
