name: GitHub Pages

on:
  push:
    branches: ["lab3"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Pages
        uses: actions/configure-pages@v5
        
      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./trunk/ii02818/task_03/doc/html
          destination: ./_site
          
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        
      - name: Deploy to GitHub Pages  
        uses: actions/deploy-pages@v4
